ion-card {
  margin: 16px 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  
  ion-label {
    h3 {
      color: var(--ion-color-primary);
      font-weight: 600;
      margin-bottom: 4px;
    }
    
    p {
      color: var(--ion-color-medium);
      white-space: normal;
      line-height: 1.4;
    }
  }
}

ion-button {
  margin: 8px 0;
}